@font-face
{
    font-family: Poppins;
    src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    font-family: Poppins;
}
.home{
    margin: 0 50px;
}

.header{
    margin-bottom: 100px;
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: #EEF2F5;
    margin:10px 0;
}

.line_center{
    display: flex;
    justify-content: center;
}

.card_center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
