@font-face
{
    font-family: Poppins;
    src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    font-family: Poppins;
}
.home{
    margin: 0 50px;
}

.header{
    margin-bottom: 100px;
}
